  <jce-spinner [visible]= "IsLoading"></jce-spinner>
  <jce-user-form (userAddEvent) = "addUser($event)"></jce-user-form>
  <div>
  <ul class="list-group users">
    <li class="list-group-item" *ngFor = "let user1 of users" [class.active]="currentUser == user1" (click) = "select(user1)">
       <jce-user [userVar]="user1" (deleteEvent)="deleteUser($event)" (editEvent) = "updateUser($event)">Loading...</jce-user> 
    </li>
  </ul>
</div>


