<span *ngIf = "!isEdit"> Name: {{userVar.name}}, Email: {{userVar.email}} </span>
<span *ngIf = "isEdit">
   Name: <input type = "text" [(ngModel)] = "userVar.name">
   Email: <input type = "text" [(ngModel)] = "userVar.email">
   <button (click)= "sendCancle()">Cancled</button>
</span>
<button (click)= "sendDelete()">Delete</button>
<button (click)= "toggleEdit()">{{editButtonText}}</button>
